<!DOCTYPE html>
<html lang = "en-US" dir = "ltr">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>Chexlogger</title>

        <!--
            I was getting errors when importing these (wrong mime-type for
            css and error 400 from js). I think it has something to do with
            V. I know it uses strict mime-types in certain circumstances.
        -->
        <!--         
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
         -->
        <style>
            @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css");
        </style>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
            $.getScript('https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js')
        </script>
        
        <link rel = "stylesheet" href = "index.css">

        <script src="main.js"></script>
        <script src="search.js"></script>
    </head>
    <body class = 'bg-dark'>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
                <div class="container-fluid">
                    <a class="navbar-brand blacksword" style="font-size: 17pt;" href="/">Chexlogger</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/new">New Entry</a>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex">
                        <input id="search_box" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Advanced</button>
                    </div>
                </div>
            </nav>
        </header>

        <section id="receipt_container">
            @for receipt in receipts
                <div class="receipt mt-4 bg-light">
                    <div class="row text-600 text-white bg-danger py-25">
                        <div class="d-none d-sm-block col-1">#</div>
                        <div class="col-9 col-sm-5">Description</div>
                        <div class="d-none d-sm-block col-4 col-sm-2">Qty</div>
                        <div class="d-none d-sm-block col-sm-2">Unit Price</div>
                        <div class="col-2">Amount</div>
                    </div>
                
                    <div class="text-95 text-secondary-d3">
                        @for i, item in receipt.items
                            <div class="item row mb-2 mb-sm-0 py-25">
                                <div class="d-none d-sm-block col-1">
                                    <script>document.write(parseInt(@i) + 1)</script>
                                </div>
                                <div class="col-9 col-sm-5">@item.description</div>
                                <div class="d-none d-sm-block col-2">@item.quantity</div>
                                <div class="d-none d-sm-block col-2 text-95">
                                    &#36;<script>document.write(parseFloat(@item.price).toFixed(2))</script>
                                </div>
                                <div class="col-2 text-secondary-d2">
                                    &#36;<script>document.write(parseFloat(@item.cost()).toFixed(2))</script>
                                    @receipt.if_tip_then_percent()
                                </div>
                            </div>
                        @end
                    </div>
                
                    <!-- <div class="row border-b-2 brc-default-l2"></div> -->
                
                    <div class="row mt-3">
                        <div class="col-12 col-sm-7 text-grey-d2 text-95 mt-2 mt-lg-0">
                            <p>@receipt.description</p>
                            <small style="position: absolute; bottom: 7px;" class="text-muted">@receipt.date.str()</small>
                        </div>
                
                        <div class="col-12 col-sm-5 text-grey text-90 order-first order-sm-last">
                            <div class="row my-2">
                                <div class="col-7 text-right">
                                    Subtotal
                                </div>
                                <div class="col-5">
                                    <span class="text-120 text-muted">
                                        &#36;<script>document.write(parseFloat(@receipt.subtotal()).toFixed(2))</script>
                                    </span>
                                </div>
                            </div>
                
                            @if receipt.discount != 0.0
                                <div class="row my-2">
                                    <div class="col-7 text-right">
                                        Discount
                                    </div>
                                    <div class="col-5">
                                        <span class="text-120 text-muted">
                                            &#36;<script>document.write(parseFloat(@receipt.discount).toFixed(2))</script>
                                        </span>
                                    </div>
                                </div>
                            @end
                
                            <div class="row my-2">
                                <div class="col-7 text-right">
                                    Tax
                                </div>
                                <div class="col-5">
                                    <span class="text-110 text-muted">
                                        &#36;<script>document.write(parseFloat(@receipt.taxes).toFixed(2))</script>
                                    </span>
                                </div>
                            </div>
                
                            <div class="row my-2 align-items-center bgc-primary-l3 p-2" id="total">
                                <div class="col-7 text-right">
                                    Total
                                </div>
                                <div class="col-5">
                                    <span class="text-150 text-success-d3 opacity-2">
                                        &#36;<script>document.write(parseFloat(@receipt.total()).toFixed(2))</script>
                                    </span>
                                    ~@receipt.payment_method
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            @end
        </section>
    </body>
</html>